In [8]:
import pandas as pd
from pathlib import Path

In [9]:
file_path = Path('../data/raw')
db28_list = list(file_path.glob("*.asc"))
db28 = pd.concat(pd.read_csv(f, delimiter="|",header=None, usecols=[0,1,2,6,13,15]) for f in db28_list)
db28.columns = ["Year", "Month","Origin Airport", "Destination Airport","Distance","Passengers"]
db28.tail(2)

       Year  Month Origin Airport Destination Airport  Distance  Passengers
73559  2025      8            ZRH                 TPA      4879        5101
73560  2025      6            ZSA                 MCO       517          80

In [10]:
# db28["Datetime"] = pd.to_datetime(db28["Month"].astype(str).str.zfill(2)+"-"+db28["Year"].astype(str), format="%M-%Y")
db28["Datetime"] = pd.to_datetime(db28["Year"].astype(str)+'-'+db28["Month"].astype(str).str.zfill(2), format="%Y-%m")
db28.tail(2)

,Year,Month,Origin Airport,Destination Airport,Distance,Passengers,Datetime
73559,2025,8,ZRH,TPA,4879,5101,2025-08-01
73560,2025,6,ZSA,MCO,517,80,2025-06-01

In [11]:
print(db28['Datetime'].min())
print(db28['Datetime'].max())

2022-11-01 00:00:00
2025-10-01 00:00:00

In [12]:
#DENVER
den_monthly_arr = db28[db28['Destination Airport']=='DEN'].groupby(['Datetime'],as_index=False).agg(
    Passengers = ('Passengers','sum')).set_index("Datetime").sort_index(ascending=True)

den_monthly_dep = db28[db28['Origin Airport']=='DEN'].groupby(['Datetime'],as_index=False).agg(
    Passengers = ('Passengers','sum')).set_index("Datetime").sort_index(ascending=True)

#ATLANTA
atl_monthly_arr = db28[db28['Destination Airport']=='ATL'].groupby(['Datetime'],as_index=False).agg(
    Passengers = ('Passengers','sum')).set_index("Datetime").sort_index(ascending=True)

atl_monthly_dep = db28[db28['Origin Airport']=='ATL'].groupby(['Datetime'],as_index=False).agg(
    Passengers = ('Passengers','sum')).set_index("Datetime").sort_index(ascending=True)

#DALLAS
dfw_monthly_arr = db28[db28['Destination Airport']=='DFW'].groupby(['Datetime'],as_index=False).agg(
    Passengers = ('Passengers','sum')).set_index("Datetime").sort_index(ascending=True)

dfw_monthly_dep = db28[db28['Origin Airport']=='DFW'].groupby(['Datetime'],as_index=False).agg(
    Passengers = ('Passengers','sum')).set_index("Datetime").sort_index(ascending=True)

#CHICAGO
ord_monthly_arr = db28[db28['Destination Airport']=='ORD'].groupby(['Datetime'],as_index=False).agg(
    Passengers = ('Passengers','sum')).set_index("Datetime").sort_index(ascending=True)

ord_monthly_dep = db28[db28['Origin Airport']=='ORD'].groupby(['Datetime'],as_index=False).agg(
    Passengers = ('Passengers','sum')).set_index("Datetime").sort_index(ascending=True)
#LOS ANGELES
lax_monthly_arr = db28[db28['Destination Airport']=='LAX'].groupby(['Datetime'],as_index=False).agg(
    Passengers = ('Passengers','sum')).set_index("Datetime").sort_index(ascending=True)

lax_monthly_dep = db28[db28['Origin Airport']=='LAX'].groupby(['Datetime'],as_index=False).agg(
    Passengers = ('Passengers','sum')).set_index("Datetime").sort_index(ascending=True)

In [13]:
den_monthly = den_monthly_arr['Passengers']+den_monthly_dep['Passengers']
atl_monthly = atl_monthly_arr['Passengers']+atl_monthly_dep['Passengers']
dfw_monthly = dfw_monthly_arr['Passengers']+dfw_monthly_dep['Passengers']
ord_monthly = ord_monthly_arr['Passengers']+ord_monthly_dep['Passengers']
lax_monthly = lax_monthly_arr['Passengers']+lax_monthly_dep['Passengers']

In [14]:
pas_vol = Path("../data/processed/passenger_volume")
den_monthly.to_csv(pas_vol/"den_nov22-oct25.csv", header=False)
atl_monthly.to_csv(pas_vol/"atl_nov22-oct25.csv", header=False)
dfw_monthly.to_csv(pas_vol/"dfw_nov22-oct25.csv", header=False)
ord_monthly.to_csv(pas_vol/"ord_nov22-oct25.csv", header=False)
lax_monthly.to_csv(pas_vol/"lax_nov22-oct25.csv", header=False)